
<div class="col-md-7 col-lg-12 py-5">
    <h1>Edit Appointment </h1>
	<form action="/visitor/Home/UpdateEdit">
        <input type="hidden" name="PatientId" value="@Model.patientId" />
        <div class="col-sm-6">
            <label for="patientName" class="form-label">Patient Name</label>
            <input type="text" class="form-control" id="patientName" name="PatientName" value="@Model.PatientName" required>
            <div class="invalid-feedback">
                Valid first name is required.
            </div>
        </div>
        <div class="col-sm-6 py-3">
            <label class="form-label">Appointment Date</label>
            <input type="date" class="form-control" id="myDateInput" name="AppointmentDate"  value="@Model.AppointmentDate" required>
            <div class="invalid-feedback">
                Valid Appointment Date is required.
            </div>
        </div>
        <div class="col-sm-6 py-3">
            <label for="AppintmentTime" class="form-label">Appointment Time</label>
            <input type="time" class="form-control" id="AppintmentTime" step="1800" name="AppointmentTime" value="@Model.AppointmentTime" required>
            <div class="invalid-feedback">
                Valid Appointment Time is required.
            </div>
        </div> <br />
        <button class="btn btn-primary btn-lg px-lg-5 me-sm-3" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Book</button>
    </form>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment Completed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your Edit has been successfully completed,
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


