<div class="px-4 py-5 my-5 text-center">
	<h1 class="display-5 fw-bold text-body-emphasis">welcome to our Hospital </h1>
	<div class="col-lg-7 mx-auto">
		<p class="lead mb-4">
			Thank you for choosing our hospital for you healthcare needs. <br />
			Here,we strive to provide the highest quality medical care to our patients. <br />
			learn more about our services and specialties:
		</p>
		<div class="list-group list-group-checkable d-grid gap-2 border-0">
		<label class="list-group-item rounded-3 py-3">
				Internal Medicine
		</label>
			<label class="list-group-item rounded-3 py-3">
				Pediatrics
			</label>
			<label class="list-group-item rounded-3 py-3">
				Surgery
			</label>
		</div>
		<p class="col-lg-11 mx-auto">If you have any question or need assistant ,please don't hesitate to contact us.</p>
	</div>


</div>
